# /etc/profile.d/instantclient.sh - Managed by Ansible - do not change
ORACLE_SID={{ oracle_sid }}
PATH={{ instantclient_dir }}/client64/bin:$PATH
LD_LIBRARY_PATH={{ instantclient_dir }}/client64/lib:$LD_LIBRARY_PATH
export ORACLE_SID PATH LD_LIBRARY_PATH
