# /etc/profile.d/instantclient.sh - Managed by Ansible - do not change
export PATH={{ instantclient_dir }}/client64/bin:$PATH
export LD_LIBRARY_PATH={{ instantclient_dir }}/client64/lib:$LD_LIBRARY_PATH