[Unit]
Description=WebLogic Managed Server @SERVER service

[Service]
Type=simple
WorkingDirectory=@DOMAIN_HOME
ExecStart=@DOMAIN_HOME/bin/startManagedWebLogic.sh "@SERVER"
ExecStop=@DOMAIN_HOME/bin/stopManagedWebLogic.sh "@SERVER"
User=oracle
Group=oinstall

[Install]
WantedBy=multi-user.target