<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

{% if settings.localRepository is defined %}
  <localRepository>{{ settings.localRepository }}</localRepository>

{% endif %}
{% if settings.interactiveMode is defined %}
  <interactiveMode>{{ settings.interactiveMode }}</interactiveMode>

{% endif %}
{% if settings.offline is defined %}
  <offline>{{ settings.offline }}</offline>

{% endif %}
  <pluginGroups>
{% if settings.pluginGroups is defined %}
{% for pluginGroup in settings.pluginGroups %}
    <pluginGroup>{{ pluginGroup }}</pluginGroup>
{% endfor %}
{% endif %}
  </pluginGroups>

  <proxies>
{% if settings.proxies is defined %}
{% for proxy in settings.proxies %}
    <proxy>
{% if proxy.id is defined %}
      <id>{{ proxy.id }}</id>
{% endif %}
{% if proxy.active is defined %}
      <active>{{ proxy.active }}</active>
{% endif %}
{% if proxy.protocol is defined %}
      <protocol>{{ proxy.protocol }}</protocol>
{% endif %}
{% if proxy.username is defined %}
      <username>{{ proxy.username }}</username>
{% endif %}
{% if proxy.password is defined %}
      <password>{{ proxy.password }}</password>
{% endif %}
      <host>{{ proxy.host }}</host>
{% if proxy.port is defined %}
      <port>{{ proxy.port }}</port>
{% endif %}
{% if proxy.nonProxyHosts is defined %}
      <nonProxyHosts>{{ proxy.nonProxyHosts }}</nonProxyHosts>
{% endif %}
    </proxy>
{% endfor %}
{% endif %}
  </proxies>

  <servers>
{% if settings.servers is defined %}
{% for server in settings.servers %}
    <server>
      <id>{{ server.id }}</id>
{% if server.username is defined %}
      <username>{{ server.username }}</username
{% endif %}
{% if server.password is defined %}
      <password>{{ server.password }}</password>
{% endif %}
{% if server.privateKey is defined %}
      <privateKey>{{ server.privateKey }}</privateKey>
{% endif %}
{% if server.passphrase is defined %}
      <passphrase>{{ server.passphrase }}</passphrase>
{% endif %}
    </server>
{% endfor %}
{% endif %}
  </servers>

  <mirrors>
{% if settings.mirrors is defined %}
{% for mirror in settings.mirrors %}
    <mirror>
      <id>{{ mirror.id }}</id>
      <mirrorOf>{{ mirror.mirrorOf}}</mirrorOf>
{% if mirror.name is defined %}
      <name>{{ mirror.name }}</name>
{% endif %}
      <url>{{ mirror.url }}</url>
    </mirror>
{% endfor %}
{% endif %}
  </mirrors>

  <profiles>
{% if settings.profiles is defined %}
{% for profile in settings.profiles %}
    <profile>
      <id>{{ profile.id }}</id>
{% if profile.activation is defined %}
      <activation>
{% if profile.activation.activeByDefault is defined %}
        <activeByDefault>{{ profile.activation.activeByDefault }}</activeByDefault>
{% endif %}
{% if profile.activation.jdk is defined %}
        <jdk>{{ profile.activation.jdk }}</jdk>
{% endif %}
{% if profile.activation.property is defined %}
        <property>
          <name>{{ profile.activation.property.name }}</name>
          <value>{{ profile.activation.property.value }}</value>
        </property>
{% endif %}
      </activation>
{% endif %}
{% if profile.repositories is defined %}
      <repositories>
{% for repository in profile.repositories %}
        <repository>
          <id>{{ repository.id}}</id>
{% if repository.name is defined %}
          <name>{{ repository.name}}</name>
{% endif %}
          <url>{{ repository.url}}</url>
{% if repository.layout is defined %}
          <layout>{{ repository.layout}}</layout>
{% endif %}
{% if repository.snapshotPolicy is defined %}
          <snapshotPolicy>{{ repository.snapshotPolicy}}</snapshotPolicy>
{% endif %}
{% if repository.releases is defined %}
          <releases>
            <enabled>{{ repository.releases.enabled}}</enabled>
          </releases>
{% endif %}
{% if repository.snapshots is defined %}
          <snapshots>
            <enabled>{{ repository.snapshots.enabled }}</enabled>
          </snapshots>
{% endif %}
        </repository>    
{% endfor %}
      </repositories>
{% endif %}
{% if profile.pluginRepositories is defined %}
      <pluginRepositories>
{% for repository in profile.repositories %}
        <pluginRepository>
          <id>{{ repository.id}}</id>
{% if repository.name is defined %}
          <name>{{ repository.name}}</name>
{% endif %}
          <url>{{ repository.url}}</url>
{% if repository.layout is defined %}
          <layout>{{ repository.layout}}</layout>
{% endif %}
{% if repository.snapshotPolicy is defined %}
          <snapshotPolicy>{{ repository.snapshotPolicy}}</snapshotPolicy>
{% endif %}
{% if repository.releases is defined %}
          <releases>
            <enabled>{{ repository.releases.enabled}}</enabled>
          </releases>
{% endif %}
{% if repository.snapshots is defined %}
          <snapshots>
            <enabled>{{ repository.snapshots.enabled }}</enabled>
          </snapshots>
{% endif %}
        </pluginRepository>    
{% endfor %}
      </pluginRepositories>
{% endif %}
{% if profile.properties is defined %}
      <properties>
{% for property in profile.properties | dict2items %}
        <{{ property.key }}>{{ property.value }}</{{ property.key }}>
{% endfor %}
      </properties>
{% endif %}
    </profile>
{% endfor %}
{% endif %}
  </profiles>

{% if settings.activeProfiles is defined %}
  <activeProfiles>
{% for profile in settings.activeProfiles %}
    <activeProfile>{{ profile }}</activeProfile>
{% endfor %}
  </activeProfiles>
{% endif %}
</settings>