{% if npmrc.npm_registry is defined -%}
registry={{ npmrc.npm_registry }}
{% endif -%}

{% if npmrc.sass_binary_site is defined -%}
sass_binary_site={{ npmrc.sass_binary_site }}
{% endif -%}

{% if npmrc.strict_ssl is defined -%}
strict-ssl={{ npmrc.strict_ssl }}
{% endif -%}

